<div class="breeze_header">
    <div>
        <h1 class="breeze_logo">BREEZEBM</h1>
    </div>
    <div>
        <span>NAV</span>
        <span>NAV</span>
        <span>NAV</span>
        {% if not user.is_authenticated %}
        <!--next 로그인을 하고 나서 원래자리로 돌아오게 됨-->
        <a style="color:black; text-decoration:none" href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span style="font-size:0.7rem">LOGIN</span>
        </a>
        <a style="color:black; text-decoration:none" href="{% url 'accountapp:create' %}?next={{ request.path }}">
            <span style="font-size:0.7rem">SIGNUP</span>
        </a>
        {% else %}
        <a style="color:black; text-decoration:none" href="{% url 'accountapp:detail'  pk=user.pk %}">
            <span style="font-size:0.7rem">MYPAGE</span>
        </a>
        <a style="color:black; text-decoration:none" href="{% url 'accountapp:logout' %}?next={{ request.path }}">
            <span style="font-size:0.7rem">LOGOUT</span>
        </a>
        {% endif %}
    </div>
</div>